<p><a n:href="modal! 'add'" class="btn btn-{$maincolor} ajax">Přidat</a></p>

{define modal-add-title}
	Přidat třídu
{/define}
{define modal-add-body}
	{control classForm}
{/define}
{define modal-edit-title}
	Upravit
{/define}
{define modal-edit-body}
	{control classForm}
{/define}
